.active {
  width: 70%;
  height: 50vh;
  position: relative;
  left: 17vw;
  backdrop-filter: blur(10px);
  background-color: #892be23d;
  padding: 20px;
  z-index: 999;
  border-radius: 5px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 10vh;
  text-align: center;
  justify-content: center;
  visibility: visible;
  transform: scale(1);
  transition: 0.3s;
}
.actives {
  position: relative;
  top: 10vh;
  left: 17vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 70%;
  height: 50vh;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.btn {
  padding: 10px;
  border: none;
  position: relative;
  left: 50%;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: rgba(137, 43, 226, 0.769);
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.btn:active {
  background-color: blueviolet;
}
.btn__X {
  font-size: 40px;
  position: absolute;
  top: 10px;
  font-family: sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  right: 20px;
}
.btn__X:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.todo {
  width: 100%;
  max-width: 1140px;
  margin: 100px auto;
}
.todo__block {
  margin: 0 auto;
  width: 400px;
}
.todo__wrapper {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo input {
  padding: 10px;
  width: 220px;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
}
.todo__block li {
  list-style: none;
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
.todo button {
  padding: 10px 16px;
  margin-left: 10px;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
}
#btn__revome {
  border: none;
  color: red;
  font-weight: 900;
}
